<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flower Watering Game</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/addons/p5.sound.min.js"></script>
    <script type="text/javascript" src="/flower/sketch.js"></script>
    <script type="text/javascript" src="/flower/flower.js"></script>
    <script type="text/javascript" src="/flower/drop.js"></script>
    <script type="text/javascript" src="/flower/ship.js"></script>
  </head>
  <body>
  </body>
</html>
